@import "tailwindcss";

@themes {
    --color-success: #077D69;
    --color-success-hover: hsl(170, 89%, 24%);
}

* {
    font-family: "Inter", sans-serif, system-ui;
}

html {
    font-size: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.5;
}
